main {
    background-color: rgb(255, 255, 255);
}

body {
    font-family: arial, sans-serif;
    font-size: 15px;
    width: 100%;
    height:100%;
    text-align: center;
    margin: 0;
}

a {
    color: #000;
    opacity: 0.75;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

#rightcontent {
    display:flex;
    position: absolute;
    right: 5px;
    top: 0;
    align-items:center;
}
#leftcontent {
    display:flex;
    position: absolute;
    left: 5px;
    top:15px;
}

#logo {
    height:100px;
    width:300px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input {
    margin-top: 2%;
    width: 420px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background:#fff;
    box-shadow: 0.5px 1.5px 2px 0.01px rgba(0,0,0,0.30);
    transition: box-shadow 0.25s ease-in-out;
    outline: 0;
    border:none;
}

input[type="button"]{
    text-align: center;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    display:inline-block;
    width: 150px;
    font-size: 15px;
    margin: 20px 8px;
    box-shadow:none;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(54, 53, 53, 0.555);
    background: #9b999936;
    border-top: 1px solid #e4e4e4;
    margin: 5px;
    height: 35px;
}

#leftfooter {
    position: absolute;
    left: 10px;
    display:flex;
}

#rightfooter {
    position: absolute;
    right: 8px;
    display:flex;
}
